.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
composer.lock
.phpunit.result.cache
public/img/albums/*
public/results/*
!public/results/README.md
public/articles/*.pdf
