:root {
    --primary-color: #1f5470;
    --primary-color-rgb: 31, 84, 112;
    --secondary-color: #f7f7f7;
    --secondary-color-rgb: 96.9, 96.9, 96.9;
    --tertiary-color: #e9ecef;
    --tertiary-color-rgb: 91, 93, 94;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

#wave-footer {
    background-image: linear-gradient(var(--primary-color), rgba(0, 0, 0, 0.5));
}

#wave-footer img {
    width: 128px;
    height: 128px;
}

#wave-footer a {
    color: #fff;
}

.logo {
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
}

.navbar {
    background-color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.primary-color {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #ffffff
}

.primary-text {
    color: var(--primary-color);
}

.secondary-color {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.tertiary-color {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

.page-header {
    border-bottom: 3px solid var(--primary-color) !important;
}

.gallery-item img {
    width: 100%;
    height: 256px;
    overflow: hidden;
    border: 3px var(--primary-color) solid;
}

.cursor-pointer {
    cursor: pointer;
}

.page-90 {
    min-height: 90vh !important;
}

#map-container-fluid {
    border-top: 3px solid var(--primary-color) !important;
    border-bottom: 3px solid var(--primary-color) !important;
}

.carousel-item {
    height: 70vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.faded-bg {
    background-color: rgba(var(--primary-color-rgb), 0.5);
}

.vertical-align {
    margin-top: auto;
    margin-bottom: auto;
}

.about-contents .container-fluid {
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.about-contents .container-fluid:nth-child(even)  {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.our-team-main {
    width:100%;
    height:auto;
    text-align:center;
    border-radius:10px;
    overflow:hidden;
    position:relative;
    transition:0.5s;
    margin-bottom:28px;
}

.our-team-main img {
    border-radius:50%;
    margin-bottom:20px;
    width: 128px;
}

.training-panel-main {
    width:100%;
    height:auto;
    border-bottom: 3px var(--primary-color) solid;
    background:#fff;
    text-align:center;
    border-radius:10px;
    overflow:hidden;
    position:relative;
    transition:0.5s;
    margin-bottom:28px;
}

.training-panel-main img {
    border-radius:50%;
    margin-bottom:20px;
    width: 128px;
}

.training-panel-front {
    width:100%;
    height:auto;
    position:relative;
    z-index:10;
    background:#fff;
    padding:15px;
    bottom:0px;
    transition: all 0.5s ease;
}

.training-panel-back {
    width:100%;
    height:auto;
    position:absolute;
    top:0;
    left:0;
    padding:5px 15px 0 15px;
    text-align:left;
    background:#fff;
}

.training-panel-main:hover .training-panel-front {
    bottom:-200px;
    transition: all 0.5s ease;
}

.training-panel-main:hover {
    border-color: var(--secondary-color);
    transition: 0.5s;
}

.border-bottom {
    border-bottom: 3px var(--primary-color) solid !important;
}

.border-bottom-table {
    border-bottom: 3px var(--primary-color) solid;
    text-align: center;
    max-width: 100%;
}

.weather-table th {
    vertical-align: middle;
}

.weather-table td {
    vertical-align: middle;
    margin: 0px;
}

.weather-table img {
    width: 50px;
}

.img-small {
    width: 128px;
    height: 128px;
    border: 3px solid;
	border-color: var(--primary-color);
}

.calendar {
    width: 100%;
    height: 80vh;
}

h4 {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
}

h1:not(:first-child) {
    padding-top: 20px;
}

.form-control-inline {
    display: block;
    width: calc(1.5em + .75rem + 2px);
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* clear fix */
.masonry-grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    float: left;
    cursor: pointer;
}

.grid-item img {
    display: block;
    width: 100%;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
    .grid-sizer,
    .grid-item {
        width: 25%;
    }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .grid-sizer,
    .grid-item {
        width: 33%;
    }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
    .grid-sizer,
    .grid-item {
        width: 100%;
    }
}