:root {
    --primary-color: #013755;
    --primary-color-rgb: 0, 22, 33;
    --secondary-color: #e9ecef;
    --secondary-color-rgb: 91, 93, 94;
    --tertiary-color: #ffffff;
    --tertiary-color-rgb: 100, 100, 100
}

.navbar {
    background-color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.primary-color {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #ffffff
}

.secondary-color {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--primary-color);
}

.tertiary-color {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

.gallery-item img {
    width: 100%;
    height: 256px;
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

.footer-img {
    width: 200px;
    height: 200px;
    border: 3px solid;
	border-color: var(--primary-color);
}

.carousel-item {
    height: 90vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.faded-bg {
    background-color: rgba(var(--primary-color-rgb), 0.5);
}